body,html{
	width: 100%;
	height:100%;
	font-family: "Open Sans";
}
.logo{
	transition: all 1s;
}
.logo:hover{
	transform: scale(1.1);
}

li :hover
{
	color: white;
	font-weight: bold;
}
.myTitle{
}

h1{
	font-family: "Open Sans";
	font-weight: bold;
}
h5{
	font-weight: bold;
}
.card{
	margin-top: 25px;
	margin-left: 25px;
}

.map-container-2{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-2 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
